opencv-python
numpy
torch
easydict
pandas
PyYAML
torchvision
scikit-learn
scikit-image
scipy
timm
torchmetrics==0.7.2
Pillow
pytorch-lightning==1.5.10
comet-ml
lightning-flash
rich
matplotlib
gudhi
seaborn